.location_express {
    .express_search {
        margin: 20px;
        .ipt_express {
            width: 200px;
            float: left;
        }
        .btn_search {
            margin-left: 40px;
            float: left;
        }
    }
    .result_content {
        margin: 20px;
        height: 560px;
        overflow-y: auto;
        white-space: nowrap;
        .expressinfo {
            text-align: left;
            .expressLeft {
                display: inline-block;
                margin: 0 20px;
                vertical-align: middle;
            }
            .expressRight {
                display: inline-block;
                color: #ccc;
                vertical-align: middle;
                h4 {
                    font-weight: 700;
                }
            }
        }
    }
}